@page
@model ReservationGuest.Pages.ConfirmModel
@using System.Diagnostics
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using ReservationGuest.Components
@{
    ViewData["Title"] = "Confirm";
}

<h1>Reservering Bevestigd</h1>
<form method="post">


</form>
<script src="_framework/blazor.server.js"></script>
