@page
@model IndexModel
@using System.Diagnostics
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using ReservationAdmin.Component;
@{
    ViewData["Title"] = "Home page";
}
    <div style=" float:left; height:100vh;  width: 100%; background-color:#43425D;">

        <h2>Login - Reserver</h2>
        <div class="form-inline  form-group" style="margin-top: 25%;  margin-left: 32%;">
            <label for="InputAmount"> Wachtwoord</label>
            <input type="text" class="form-control" required />   
            <button type="button" class=" btn-ResAdmin btn btn-primary">
                <a class="navbar-brand" asp-area="" asp-page="/Dashboard">inloggen</a>
            </button>
        </div>

    
        </div>
        <script src="_framework/blazor.server.js"></script>
