@using Microsoft.AspNetCore.Components.Web
@using CostumeTest.Models
@using CostumeTest.Services
@inject JsonFileProductService ProductService


    <div style="background-color: #ffffff;   width: 65%; height: 37%;  margin-left: 18%; margin-top: 62px; padding: 1% 4% 7% 1%;">
        <h1> Overzicht</h1>
        <div class=" form-inline">
            <label>Datum</label>
            <label></labeL>
            <label>Dagdeel</label>
            <label>Volledig naam</label>
            <label>Email</label>
            <label>Aantal personen</label> 
            <label>Tafel</label>
        </div>
       
        
        <button type="submit" class="btn btn-primary" style="float:left">
            <a href="/Datum">terug</a>
        </button>

        <button type="submit" class="btn btn-primary" style="float:right">
            <a href="/">Reservering</a>
        </button>
    </div>
@code
{
  


}
